/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

section{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  text-align: center;
  height: 25vh;
}

input{
  width: 200px;
  margin: 10px auto;
}

button {
  width: 200px;
  margin: 0 auto;
}

#result{
  flex-direction: row;
  justify-content: center;
  height: 75vh;
}

#result div{
  flex-direction: column;
}

#result span{
  display: flex;
  width: 400px;
  justify-content: center;
  margin: 10px auto;
}

#index, #name{
  height:5%
}

#instructions{
  height:30%;
  width: 70%;
}

#result button {
  width: auto;
  height: 25px;
  margin: auto;
  justify-self: center;
}

img{
  display: block;
  max-width: 200px; */
  height: 50%;
  margin:10px auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

