/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  margin: 0 auto;
  width: 80vw;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
}

img{
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}

select {
  width: 200px;
  margin: 20px auto;
}

button {
  width: 200px;
  margin: 0 auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
