/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin:0;
}
  
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
    clear: both;
}

* {
  border: 1px solid black;
  list-style: none;
  color: black;
}

header section {
  background: red;
  float: left;
}

header > section:nth-child(1) {
  width: 10%;
  float: left;
}

header > section:nth-child(2) {
  width: 90%;
  float: left;
}

header > section:nth-child(2) li{
  
  float: left;
}

main section {
  background: yellow;
  float: left;
}

footer section {
  background: green;
  float: left;
}

section {
  height: 100px;
}



