/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
h2{
  height: 30px;
}
section{
  margin: 0 auto;
}
img{
  display: block;
  margin: 0 auto;
  height: 300px;
}
#gameTable{
  display: flex;
  margin: 0 auto;
}
#gameTable > section {
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
