header > section{
    height: 100px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
}

#gameBoard{
    width: 30vw;
    height: 30vw;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    margin: auto;
    background:black;
}

.boardLocation {
    width: 33%;
    height: 33%;
    background: white;
    margin: auto;
    opacity: 1;
    transition: opacity 2s;
    /* border: 1px solid red; */
}

.boardLocation.fade{
    opacity: 0;
}

footer {
    text-align: center;
    margin: auto;
}

#resetGame{
    background: red;
    border: 3px solid rgb(161, 0, 0);
    color: white;
    width: 165px;
    margin: 15px auto;
    font-weight: bolder;
    font-size: 2rem;
}

#resetGame.hidden{
    display: none;
}

#winner {
    margin: auto;
    font-size: 3rem;
}

@media screen and (width < 1200px) {
    #gameBoard{
        width: 80vw;
        height: 80vw;
    }
}

@media screen and (width < 480px) {
    #gameBoard{
        width: 100vw;
        height: 100vw;
    }
}
